/* Menú lateral desplegable */

#pushobj {
    margin-left: 40px;
}

#menuLeft {
	-ms-opacity: 0.95;
	opacity: 0.95;
	position: absolute;
	left: 0px;
	top: 0px;
}



.multilevelpushmenu_wrapper {
	position: absolute;
	overflow: hidden;
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

.multilevelpushmenu_wrapper .levelHolderClass {
	position: absolute;
	overflow: hidden;
	top: 0;
	background: #BA2025;
	width: auto;
	min-height: 100%;
	font-size: 1em;
	zoom: 1;
	color:#F8F8F8;
-webkit-box-shadow: 5px 5px 5px 5px #000000;
box-shadow: 5px 5px 5px 5px #000000;
}

.multilevelpushmenu_wrapper .ltr {
	margin-left: -100%;
	left: 0;
	-moz-box-shadow: 5px 0 5px -5px #1f4164;
	-webkit-box-shadow: 5px 0 5px -5px #1f4164;
	box-shadow: 5px 0 5px -5px #1f4164;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#1f4164,direction=90,strength=2);
}

.multilevelpushmenu_wrapper .rtl {
	margin-right: -100%;
	right: 0;
	-moz-box-shadow: 5px 0 5px 5px #1f4164;
	-webkit-box-shadow: 5px 0 5px 5px #1f4164;
	box-shadow: 5px 0 5px 5px #1f4164;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#1f4164,direction=270,strength=2);
}

.multilevelpushmenu_wrapper .multilevelpushmenu_inactive {
	background: #BA2025;
}

.multilevelpushmenu_wrapper h2 {
	font-size: 16px;
	line-height: 40px;
	font-weight: normal;
	color: #FAFAFA;
	padding: 0 .4em 0 .4em;
	font-family:"SoberanaSans";
}

.multilevelpushmenu_wrapper h2 i {
	font-size: 30px;
	line-height: 40px;
}

.multilevelpushmenu_wrapper ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.multilevelpushmenu_wrapper li {
	cursor: pointer;
	padding: .4em .4em .4em .4em;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CB2327;
}

.multilevelpushmenu_wrapper li:last-child {
	border-bottom: 1px solid #CB2327;
}

.multilevelpushmenu_wrapper li:hover {
	background-color: #A41C1F;
}

.multilevelpushmenu_wrapper a {
	display: block;
	outline: none;
	overflow: hidden;
	font-size: 12px;
	line-height: 1em;
	padding: .2em .2em;
	text-decoration: none;
	color: #F8F8F8;
	font-family:"SoberanaTitular";
}

.multilevelpushmenu_wrapper a:hover {
	color: #FAFAFA;
}

.multilevelpushmenu_wrapper .backItemClass {
	display: block;
	padding: .4em .4em .4em .4em;
	background: #2e6196;
	border-top: 1px solid #295685;
}

.multilevelpushmenu_wrapper .floatRight {
	float: right;
}

.multilevelpushmenu_wrapper .floatLeft {
	float: left;
}

.multilevelpushmenu_wrapper .cursorPointer {
	cursor: pointer;
}

.multilevelpushmenu_wrapper .iconSpacing_ltr {
	padding: 0 .4em 0 0;
}

.multilevelpushmenu_wrapper .iconSpacing_rtl {
	padding: 0 0 0 .4em;
}
